body {
    margin: 8px;
    background-color: DimGray;
}

main, header {
    box-sizing: border-box;
    width: min(100%, 1250px);
    padding: 1rem 2vw;
    border: 4px solid #AA5855;
    background-color: LightSteelBlue;
}

main {
    margin-right: auto;
    margin-left: auto;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    margin-left: 2rem;
}

code {
    word-wrap: break-word;
    background-color: lightgrey;
}

pre {
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem 0.7rem 0.7rem;
    border-radius: 5px;
    background-color: lightgrey;
}

figure {
    display: table;
    margin: auto;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

th, td {
    min-width: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
}

th {
    background-color: #AAA;
}

tbody:nth-child(odd) {
    background: #CCC;
}

tbody:nth-child(even) {
    background: #DDD;
}

.center {
    text-align: center;
}

.centered-list {
    margin: auto;
    text-align: left;
}

.centered-list > ul {
    display: inline-block;
}

.diagram {
    display: block;
    width: auto;
    margin: auto;
}

.table-wrapper {
    overflow-x: auto;
}

/* Site header */

header {
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    max-width: 1250px;
    margin-right: 30px;
    margin-left: 30px;
}

.brand {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.brand img {
    align-self: stretch;
    width: auto;
    height: 120px;
    object-fit: contain;
}

.brand-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-text h1 {
    margin: 0 0 0.5rem 0;
}

.brand-text p {
    margin: 0;
    font-size: large;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
    gap: 1rem;
}

.nav-btn {
    display: inline-block;
    padding: 0.1rem 0.6rem;
    transition: all 0.15s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: 1px solid SlateGray;
    border-radius: 6px;
    background-color: SlateGray;
}

.nav-btn-current {
    display: inline-block;
    padding: 0.1rem 0.6rem;
    cursor: default;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #444;
}

.nav-btn:hover {
    border: 1px solid #444;
    background-color: #444;
}

.github {
    background-color: DarkOliveGreen;
}

.nav a {
    text-decoration: none;
}

.nav span {
    margin: 0 0.1rem;
}

/* Site Footer */

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: dimgrey;
}

@media screen and (max-width: 750px) {
    body {
        margin: 1vw;
    }

    main, header {
        padding-right: 2vw;
        padding-left: 2vw;
    }

    th, td {
        padding-right: 1vw;
        padding-left: 1vw;
    }
}
