body {
    min-width: 280px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: DimGray;
}

main, header {
    box-sizing: border-box;
    width: min(100%, 1250px);
    padding: 1rem 2vw;
    border: 4px solid #AA5855;
    background-color: LightSteelBlue;
}

main {
    margin-right: auto;
    margin-left: auto;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    margin-left: 2rem;
}

code {
    word-wrap: break-word;
    background-color: lightgrey;
}

pre {
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem 0.7rem 0.7rem;
    border-radius: 5px;
    background-color: lightgrey;
}

figure {
    display: table;
    margin: auto;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

th, td {
    min-width: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
}

th {
    background-color: #AAA;
}

tbody:nth-child(odd) {
    background: #CCC;
}

tbody:nth-child(even) {
    background: #DDD;
}

.center {
    text-align: center;
}

.centered-list {
    margin: auto;
    text-align: left;
}

.centered-list > ul {
    display: inline-block;
}

.diagram {
    display: block;
    width: auto;
    margin: auto;
}

.table-wrapper {
    overflow-x: auto;
}

/* Site header */

header {
    display: grid;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-template-columns: calc(min(30vw, 120px) + 1rem) auto;
    grid-template-rows: auto auto;
}

#logo {
    align-self: stretch;
    width: auto;
    height: min(30vw, 120px);
    object-fit: contain;
    grid-column: 1;
    grid-row: 1 / 3;
    margin-right: 1rem;
}

#header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}

#header-text h1 {
    margin: 0 0 0.5rem 0;
}

#header-text p {
    margin: 0;
    font-size: large;
}

.header-nav {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 1rem;
    text-align: center;
    gap: 1rem;
    grid-column: 2;
    grid-row: 2;
}

.header-nav a {
    text-decoration: none;
}

.header-nav span {
    margin: 0 0.1rem;
}

.nav-btn {
    display: inline-block;
    padding: 0.1rem 0.6rem;
    transition: all 0.15s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: 1px solid SlateGray;
    border-radius: 6px;
    background-color: SlateGray;
}

.nav-btn-current {
    display: inline-block;
    padding: 0.1rem 0.6rem;
    cursor: default;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #444;
}

.nav-btn:hover {
    border: 1px solid #444;
    background-color: #444;
}

/* Site Footer */

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: dimgrey;
}

#github-button {
    z-index: 99;
    position: fixed;
    top: 30px;
    right: 0;
    display: flex;
    align-items: center;

    border: 2px solid white;
    border-right: none;
    padding: 0.6rem;
    transition: all 0.5s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: DarkOliveGreen;
}

#github-button span {
    display:none;
    margin-left: 0.6rem;
}

#github-button:hover span {
    display: inline-block;
}

#github-logo {
    height: 25px;
}

@media screen and (max-width: 810px) {
    body {
        margin: 1vw;
    }

    main, header {
        padding-right: 2vw;
        padding-left: 2vw;
    }

    th, td {
        padding-right: 1vw;
        padding-left: 1vw;
    }

    #logo {
        grid-column: 1;
        grid-row: 1;
    }

    .header-nav {
        margin-top: 1.5rem;
        grid-column: 1 / 3;
        grid-row: 2;

        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: space-between;
        text-align: center;
        gap: 1px;
    }
}

@media screen and (max-width: 400px) {
    .header-nav {
        grid-template-columns: 1fr;
    }
}